body{
  background-color: #b8dbd9;
}
h1{
     display: flex;
    justify-content: center;
 color: #a4161a;
}
h2{
     display: flex;
    justify-content: center; 
}
h3{
display: flex;
    justify-content: center;
   
    margin-top:0px ;
}
main{
    display: flex;
    justify-content: center;
}
form{
margin: 20px ;
padding: 20px;
background-color: #9ceaef;
border-radius: 15px;
border: solid  5px #1f7a8c;
}
input  {   
    border-radius: 10px;
 }
select{
    border-radius: 10px ;
}
label{
color: #dd0426;  
}

