body{
  background-color: #ebf2e5;
}
h1{
     display: flex;
    justify-content: center;
 color: #076f6d;
}
h2{
     display: flex;
    justify-content: center; 
}
h3{
display: flex;
    justify-content: center;
   
    margin-top:0px ;
}
main{
    display: flex;
    justify-content: center;
}
form{
margin: 20px ;
padding: 20px;
background-color: #e6e2da;
border-radius: 15px;
border: solid  5px #0a0909;
}
input  {   
    border-radius: 10px;
 }
select{
    border-radius: 10px ;
}
label{
color:#5a1fb2;
}

